* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


/* ================= MAIN CONTAINER ================= */
.main {
  margin-top: 90px;
  display: flex;
  justify-content: center;
}

.feed-container {
  width: 650px;
}

/* ================= POST CARD ================= */
.post {
  background: #1E293B;
  border-radius: 16px;
  padding: 20px;
  margin-bottom: 25px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
}

.post-header {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #334155;
  margin-right: 12px;
}

.user-info h4 {
  font-size: 15px;
  font-weight: 600;
}

.user-info span {
  font-size: 12px;
  color: #94A3B8;
}

.post-content {
  font-size: 14px;
  line-height: 1.6;
  color: #CBD5E1;
  margin-bottom: 12px;
}

.post img {
  width: 100%;
  border-radius: 14px;
  margin-bottom: 12px;
}

.actions {
  display: flex;
  gap: 25px;
  padding: 10px 0;
  border-top: 1px solid #334155;
  border-bottom: 1px solid #334155;
  margin-bottom: 12px;
}

.actions span {
  cursor: pointer;
  color: #94A3B8;
  transition: 0.2s;
}

.actions span:hover {
  color: #1E90FF;
}

.comment-preview {
  font-size: 13px;
  color: #94A3B8;
}

.card {
  width: 100%;
  margin: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 25px;
  border: 2px solid #44576a;
  background: var(--navbar-color);
  border-radius: 25px;
}

.avatar {
  width: 110px;
  height: 110px;
  background: #0d1b2a;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.content h2 {
  margin: 0;
  font-size: 18px;
  color: var(--text-color);
}

.content p {
  margin-top: 8px;
  color: var(--secondary-text);
  font-size: 8px;
  line-height: 1.5;
  max-width: 420px;
}

/* Search Container */
.search-container {
  margin: 0px 0px 30px 0px;
  width: 100%;
  background: var(--bg-color);
  border-radius: 40px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  border: 2px solid var(--text-color);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05);
}

/* Input Field */
.search-container input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  color: var(--text-color);
  font-size: 16px;
}

/* Placeholder */
.search-container input::placeholder {
  color: #94a3b8;
}

/* Search Icon */
.search-icon {
  font-size: 20px;
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s ease;
}

.search-icon:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

.profile-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.profile-card {
  height: 100%;
  width: 400px;
  background: var(--bg-color);
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  position: relative;
}

/* Close */
.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  font-size: 18px;
}

/* Top */
.profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto 10px;
}

.username {
  color: var(--text-color);
}

.bio {
  font-size: 12px;
  color: var(--text-color);
  margin-bottom: 15px;
}

/* Stats */
.profile-stats {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: var(--card-color);
  color: var(--text-color);
  border-radius: 15px;
  padding: 20px 10px;
  margin-bottom: 15px;
}

.profile-stats h1 {
  margin: 0;
}

.divider {
  width: 4px;
  height: 50px;
  background: var(--secondary-text);
  border-radius: 10px;
}

/* Button */
.follow-btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 25px;
  background: var(--button-color);
  color: var(--button-text);
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 15px;
}

/* Posts */
.post-section {
  text-align: left;
}

.post-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  background: var(--card-color);
  border-radius: 15px;
  margin-top: 10px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: hidden;
  scrollbar-width: none;
}

/* Hidden */
.hidden {
  display: none;
}


.post-demo {
  height: 140px;
  width: 110px;
  background-size: cover;

}

.bottom-nav-mobile {
  padding: 30px;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: var(--navbar-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  visibility: hidden;
}


/* position: fixed;
      top: 50%;
      transform: translateY(-50%);
      width: 70px;
      background:var(--navbar-color);
      border-radius: 0px 16px 16px 0px;
      padding: 20px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      transition: 0.3s ease;
      justify-content: center; */

@media (max-width: 800px) {
  .sidebar {
    visibility: hidden;

  }

  .bottom-nav-mobile {
    visibility: visible;
  }

  .feed-container {
    width: 100%;
  }

  .card {
    width: 100%;
  }
}