<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ZentroConnect</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
    integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/style/createpoststyle.css">
    <link rel="stylesheet" href="/static/style/navbar.css">
    <link rel="stylesheet" href="/static/style/post.css">
    <link rel="stylesheet" href="/static/style/theme.css">
</head>

<body>
  <div id="overlay"></div>
    

  <!-- NAVBAR -->
  <div class="navbar">
    <div class="navbar-balancer"></div>
    <div class="logo">ZentroConnect</div>
    <div class="settings-btn" id="settingsBtn">⚙

    </div>
    <div class="settings-dropdown" id="settingsMenu">
      <div class="settings-header">
  <span>Settings</span>
  <button class="close-btn" id="closeBtn">✕</button>
  </div>
      <div class="setting-item">

<span>Theme</span>

<label class="switch">
<input type="checkbox" id="themeToggle">
<span class="slider"></span>
</label>

</div>

<div class="menu-item" id="profileUpdatebtn">
Edit Profile
</div>

<div class="menu-item">
About
</div>


    </div>
  </div>

  <!-- SIDEBAR -->
  <div class="sidebar">
    <a href="/home">
      <div class="side-item">🏠 <span class="side-text">Home</span></div>
    </a>
    <a href="/search">
      <div class="side-item">🔍 <span class="side-text">Search</span></div>
    </a>
    <a href="#">
      <div class="side-item" id="openPostModal">➕ <span class="side-text">Create</span></div>
    </a>
    <a href="/profile">
      <div class="side-item">👤 <span class="side-text">Profile</span></div>
    </a>
  </div>

  <div class="bottom-nav-mobile">
    <a href="/home">🏠</a>
    <a href="/search">🔍</a>
    <a href="#" id="openPostModal">➕</a>
    <a href="/profile">👤</a>
  </div>

  <!-- MAIN CONTENT -->
  <div class="main">
    <div class="feed-container" id="feed">

      
      
    </div>
  </div>

  <script src="/static/script/loadfeed.js"></script>
  <script src="/static/script/loadRefreshToken.js"></script>
  <script>
    
    
    const resultcontainer = document.getElementById('feed')
    
    resultcontainer.addEventListener('click', (event) => {
      const post = event.target.closest('.post')
      console.log(event.target)
      
      if (event.target.classList.contains('like-btn')) {
        
        const likepost = () => {
          console.log("post Liked")
          fetch(`http://127.0.0.1:8000/api/accounts/user/${post.id}/post/like/`, {
            method: "POST",
            headers: {
              "Authorization": "Bearer " + localStorage.getItem("access")
            }
          }).then(res => res.json()).then(data => {
            if (data.code == "token_not_valid") {
              console.log(localStorage.getItem('refresh'));
              fetch("http://127.0.0.1:8000/api/token/refresh/", {
                method: "POST",
                headers: {
                  "Content-Type": "application/json"
                },
                body: JSON.stringify({ refresh: localStorage.getItem('refresh') })
              }).then(res => res.json()).then(data => {
                localStorage.setItem('access', data.data.access)
                
              })
              // loadRefreshToken();
              likepost()
              
            } else {
              loadfeed()
            }
          })
        }
        likepost()
      }
      
      if(event.target.classList.contains('comment-btn')){
        const inputtext = post.querySelector('.comment-text')
        console.log(inputtext)
        
        if (inputtext){
          
          console.log( {
              'comment_text' : inputtext.value
            });
            fetch(`http://127.0.0.1:8000/api/accounts/user/${post.id}/post/comment/`,{
              method: "POST",
              headers:  {
                "Authorization": "Bearer " + localStorage.getItem("access"),
                "Content-Type": "application/json"
              },
              body: JSON.stringify({
                'comment_text' : inputtext.value
              })
            }).then(res => res.json()).then(data => {
              if (data.code == "token_not_valid") {
                console.log(localStorage.getItem('refresh'));
                fetch("http://127.0.0.1:8000/api/token/refresh/", {
                  method: "POST",
                  headers: {
                    "Content-Type": "application/json",
                  },
                  body: JSON.stringify({ refresh: localStorage.getItem('refresh') })
                }).then(res => res.json()).then(data => {
                  localStorage.setItem('access', data.data.access)
                  likepost()
                  
                })
                
              } else {
                loadfeed()
              }
            })
            
          }
          
        }
      })
      

      

      
      
      
      
      
      
      
      
      const profileUpdate = `<div class="overlay">
        
        <div class="upload-modal">
          
          <h3>Update Profile Data</h3>
          
          <!-- Upload Area -->
          
          <label class="upload-area">
            
            <input id="fileinput" type="file" hidden>
            
            <div class="upload-content">
              <div class="icon">⬆</div>
              <p><span>Drag & Drop</span> or <b>Choose file</b> to upload</p>
              <small>Supported formats: JPG or PNG</small>
            </div>
            
          </label>
          
          
          <!-- Bio Field -->
          
          <div class="bio-section">
            
            <label>Bio</label>
            <textarea id="bioinput" placeholder="Write short bio..."></textarea>
            
          </div>
          
          
          <!-- Buttons -->
          
          <div class="modal-buttons">
        
            <button class="cancel-btn" onclick=removeOverlay()>Cancel</button>
            <button class="upload-btn" onclick=updateProfile()>Upload</button>
            
          </div>
          
        </div>
      </div>`
      profileUpdatebtn.addEventListener('click',()=>{
        document.getElementById('overlay').innerHTML += profileUpdate
      })
      
      // const updateProfile = () =>{
        
      //   const formdata = new FormData()
      //   const fileinput = document.getElementById('fileinput')
      //   const bioinput = document.getElementById('bioinput')
        
        
      //   formdata.append('bio',bioinput.value)
      //   formdata.append('profile_pic',fileinput.files[0])
        
      //   fetch('http://127.0.0.1:8000/api/accounts/profile/',{
      //     method: "POST",
      //     headers: {
      //       "Authorization": "Bearer " + localStorage.getItem("access")
      //     },
      //     body : formdata
      //   }).then(res =>res.json()).then(data => {
      //     console.log(data)
      //   })
      // }

      
    </script>
    <script src="/static/script/createpost.js"></script>
    <script src="/static/script/navsettings.js"></script>
  </body>

  </html>