<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ZentroConnect - Desktop Login</title>
  {% load static %}

  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static '/style/register.css' %}">
</head>

<body>

  <div class="login-card">

    <div class="left">
      <div class="image-container"></div>
    </div>

    <div class="right">

      <img src="{% static '/src/img/logon-removebg-preview.png' %}" alt="Logo" class="logo">

      <div class="title">Register</div>

      <div class="input-group">
        <input type="email" placeholder="Email" id="email">
      </div>

      <div class="input-group">
        <input type="text" placeholder="Username" id="username">
      </div>

      <div class="input-group">
        <input type="password" placeholder="Create Password" id="password">
      </div>
      <div class="input-group">
        <input type="password" placeholder="Confirm Password" id="cpassword">
      </div>

      <button id="submit">SUBMIT</button>

      <div class="divider"></div>

      <div class="footer">
        Have an account? <a href="/">Login</a>
      </div>

    </div>

  </div>
  <script src="{% static '/script/changeurl.js' %}"></script>
  <script>

    let createuser = (jsondata) => {
      fetch(`${url}/api/accounts/register/`, {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          "Cache-Control": "no-cache",
          "Accept": "application/json"
        },
        body : JSON.stringify(jsondata)
      }).then(res => res.json()).then(data => {
        console.log(data)
      })
    }


    let registerbtn = document.getElementById('submit')

    registerbtn.addEventListener('click', () => {
      if (document.getElementById('password').value == document.getElementById('cpassword').value) {

        let jsondata = {
          'email': document.getElementById('email').value,
          'username': document.getElementById('username').value,
          'password': document.getElementById('cpassword').value
        }
        document.getElementById('email').value = ""
        document.getElementById('username').value = ""
        document.getElementById('password').value = ""
        document.getElementById('cpassword').value = ""

        alert("User Saved to Database!!");
        createuser(jsondata)
      } else {


        alert("Password and Confirm Password should be same.")
      }
    })


  </script>
</body>

</html>