<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ZentroConnect</title>
  {% load static %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static '/static/style/theme.css' %}">
  <link rel="stylesheet" href="{% static '/static/style/createpoststyle.css' %}">
  <link rel="stylesheet" href="{% static '/static/style/navbar.css' %}">
  <link rel="stylesheet" href="{% static '/static/style/theme.css' %}">
  <link rel="stylesheet" href="{% static '/static/style/search.css' %}">


</head>

<body>
  <div id="overlay"></div>


  <!-- NAVBAR -->
  <div class="navbar">
    <div class="navbar-balancer"></div>
    <div class="logo">ZentroConnect</div>
    <div class="settings-btn" id="settingsBtn">⚙

    </div>
    <div class="settings-dropdown" id="settingsMenu">
      <div class="settings-header">
        <span>Settings</span>
        <button class="close-btn" id="closeBtn">✕</button>
      </div>
      <div class="setting-item">

        <span>Theme</span>

        <label class="switch">
          <input type="checkbox" id="themeToggle">
          <span class="slider"></span>
        </label>

      </div>

      <div class="menu-item" id="profileUpdatebtn">
        Edit Profile
      </div>

      <div class="menu-item">
        About
      </div>


    </div>
  </div>

  </div>

  <!-- SIDEBAR -->
  <div class="sidebar">
    <a href="/home">
      <div class="side-item">🏠 <span class="side-text">Home</span></div>
    </a>
    <a href="/search">
      <div class="side-item">🔍 <span class="side-text">Search</span></div>
    </a>
    <a href="#">
      <div class="side-item" id="openPostModal">➕ <span class="side-text">Create</span></div>
    </a>
    <a href="/profile">
      <div class="side-item">👤 <span class="side-text">Profile</span></div>
    </a>
  </div>


  <div class="bottom-nav-mobile">
    <a href="/home">🏠</a>
    <a href="/search">🔍</a>
    <a href="#" id="openPostModalMobile">➕</a>
    <a href="/profile">👤</a>
  </div>


  <div class="profile-overlay hidden" id="profileOverlay"></div>
  <!-- MAIN CONTENT -->
  <div class="main">
    <div id="main-container" class="feed-container">
      <div class="search-container">
        <input id="search-bar" type="text" placeholder="Search">
        <i class="fa-solid fa-magnifying-glass search-icon"></i>
      </div>
      <div id="result-container" class="feed-container">

      </div>

    </div>
  </div>

  </div>
  </div>
  <script>

    fetch('http://127.0.0.1:8000/api/accounts/user/', {
      method: "GET",
      headers: {
        "Content-Type": "application/json"
      }
    }).then(res => res.json()).then(data => {
      console.log(data)
      for (let i = 0; data.data.length > i; i++) {
        document.getElementById('result-container').innerHTML += `<div class="card" id="${data['data'][i]['id']}">
          ${data['data'][i]['profile_pic'] == null ? `<div class="avatar"><i class="fa-solid fa-user" style="font-size: 44px;"></i></div>` : `<div class="avatar" style="background-image: url(${data['data'][i]['profile_pic']}); background-size: cover;"></div>`}

  <div class="content">
    <h2>${data['data'][i]['username']}</h2>
    <p>
      ${data['data'][i]['bio']}
    </p>
  </div>`
      }
    })


    document.getElementById('search-bar').addEventListener('keyup', (event) => {
      console.log("EVENT");
      fetch(`http://127.0.0.1:8000/api/accounts/user/?q=${document.getElementById('search-bar').value}`)
        .then(res => res.json())
        .then(data => {
          console.log(data)
          document.getElementById('result-container').innerHTML = ""
          for (let i = 0; data.data.length > i; i++) {
            console.log(data['data'][i]['profile_pic'])
            document.getElementById('result-container').innerHTML += `<div class="card" id="${data['data'][i]['id']}">
                      ${data['data'][i]['profile_pic'] == null ? `<div class="avatar"><i class="fa-solid fa-user" style="font-size: 44px;"></i></div>` : `<div class="avatar" style="background-image: url(${data['data'][i]['profile_pic']}); background-size: cover;"></div>`}
              

                        <div class="content">
                          <h2>${data['data'][i]['username']}</h2>
                          <p>
                            ${data['data'][i]['bio']}
                          </p>
                        </div>`
          }
        })
    })


    let profileview = (data) => {

      const overlayprofile = `
  <div class="profile-card" id="${data['data']['id']}">

    <!-- Close Button -->
    <span class="close-btn" id="closeProfile">✖</span>

    <!-- Profile Top -->
    <div class="profile-top">
      <div class="profile-pic" style="background-image: url(${data['data']['profile_pic']});  background-size: cover;"></div>
      <h2 class="username">${data['data']['username']}</h2>
      <p class="bio">
        ${data['data']['bio']}
      </p>
    </div>

    <!-- Stats -->
    <div class="profile-stats">
      <div>
        <h1>${data['data']['follower']}</h1>
        <span>Follower</span>
      </div>

      <div class="divider"></div>

      <div>
        <h1>${data['data']['following']}</h1>
        <span>Following</span>
      </div>
    </div>

    <!-- Follow Button -->
    <button class="follow-btn" onclick="follow_unfollow()">Follow / UnFollow</button>

    <!-- Posts -->
    <div class="post-section">
      <h4>Post</h4>
      <div class="post-box" id="post-container">
      </div>
    </div>

  </div>`

      const overlay = document.getElementById('profileOverlay');
      overlay.innerHTML += overlayprofile;
      overlay.classList.toggle('hidden')

      console.log(data['data']['post'])
      for (let i = 0; data['data']['post'].length > i; i++) {
        const newpost = `<div class="post-demo" style="background-image: url(${data['data']['post'][i]['post_img']}); background-size: cover;"></div>`;
        if (data['data']['post'][i]['post_img'] != null) {

          document.getElementById('post-container').innerHTML += newpost;
        }
      }


    }


    document.getElementById('result-container').addEventListener('click', (event) => {
      console.log(event.target.closest('.card'));
      {
        console.log(event.target.closest('.card').id)
        fetch(`http://127.0.0.1:8000/api/accounts/profile/${event.target.closest('.card').id}/`)
          .then(res => res.json())
          .then(data => {
            profileview(data)
          })
      }
    })


    document.getElementById('profileOverlay').addEventListener('click', (event) => {
      console.log(event.target)
      if (event.target.classList.contains('close-btn')) {
        document.getElementById('profileOverlay').innerHTML = ``
        document.getElementById('profileOverlay').classList.toggle('hidden');
      }
    })


    follow_unfollow = () => {
      const user_id = document.getElementById('profileOverlay').querySelector('.profile-card').id

      fetch(`http://127.0.0.1:8000/api/accounts/con/${user_id}/follow/`, {
        method: "POST",
        headers: {
          "Authorization": "Bearer " + localStorage.getItem("access")
        }
      }).then(res => res.json())
        .then(data => console.log(data))
    }
    const profileUpdate = `<div class="overlay">

    <div class="upload-modal">
      
      <h3>Update Profile Data</h3>
      
      <!-- Upload Area -->
      
      <label class="upload-area">
        
        <input id="fileinput" type="file" hidden>

        <div class="upload-content">
          <div class="icon">⬆</div>
          <p><span>Drag & Drop</span> or <b>Choose file</b> to upload</p>
          <small>Supported formats: JPG or PNG</small>
        </div>
        
      </label>
      
      
      <!-- Bio Field -->
      
      <div class="bio-section">
        
        <label>Bio</label>
        <textarea id="bioinput" placeholder="Write short bio..."></textarea>
        
      </div>
      
      
      <!-- Buttons -->
      
      <div class="modal-buttons">
        
        <button class="cancel-btn" onclick=removeOverlay()>Cancel</button>
        <button class="upload-btn" onclick=updateProfile()>Upload</button>
        
      </div>
      
    </div>
  </div>`


    profileUpdatebtn.addEventListener('click', () => {
      document.getElementById('overlay').innerHTML += profileUpdate
    })

    let removeOverlay = () => {
      document.getElementById('overlay').innerText = ""
    }
  </script>

  <script src="{% static '/static/script/loadRefreshToken.js' %}"></script>
  <script src="{% static '/static/script/navsettings.js' %}"></script>
  <script src="{% static '/static/script/createpost.js' %}"></script>
  
</body>

</html>